@font-face {
    font-family: 'HARRYP__.TTF';src: url('HARRYP__.TTF'); /*Para os demais navegadores*/
    font-weight: normal;font-style: normal;}
*{
    text-align: center;
    font-family: 'HARRYP__.TTF';src: url('HARRYP__.TTF');
}
  
 /*  body{
    background:url(https://i.pinimg.com/originals/4c/a0/2d/4ca02d4bdf7e6adab39d407041a5bdfe.gif)no-repeat bottom center scroll;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
   }  */



 /* body{
    background:url(https://i.pinimg.com/originals/4c/a0/2d/4ca02d4bdf7e6adab39d407041a5bdfe.gif);
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}*/


body{
    background:url(https://i.pinimg.com/originals/4c/a0/2d/4ca02d4bdf7e6adab39d407041a5bdfe.gif)no-repeat center center fixed;
    background-size: cover;
}

.imge{
    background-image:url(https://i.ibb.co/Ttf3tcX/card-removebg-preview-removebg-preview-removebg-preview-removebg-preview.png);

    background-size:cover;
    display:fixed;
    margin-left: auto;
    margin-right:auto;
    margin-top:80px;
    padding-bottom:220px;
    width: 400px;  
    height: 300px;
     
}
header{
    display: block;
    width:400px;
    height: 400px;
}
.qqq{     /*BOTAO ALURA*/
    width: 70px;
    height: 70px;  
    position: relative;
    left: 120px;
    bottom: 30px;

}
.example-item{     /*li*/
    padding: 4px;
    font-size: 20px;
    position: relative;
    top: 34px;
    right: 10px;
    list-style: none;
    text-align: start;
  
}
a{
    text-decoration: none;
    color: #5b2314;
}


h1{
    position: relative;
    top: 56px;
    right: 40px;
    
}
.redes{
    width: 130px;
    height: 100px;
    position: relative;
    left: 120px;
    bottom:14px;

}
#img3{
    width: 22px;
    height: 22px;   
}
